<div *ngIf="user" class="container">
  
  
  <div ><img src="{{user.prof_pic_link}}" alt="{{user.prof_pic_alt}}" class="profpic"></div>
  <div><h1>{{user.fullname}}</h1></div>
  <hr>
  <table>
    <tr>
    <td><h5>Full name: {{user.fullname}} </h5></td>
    <td><h5>User name: {{user.username}} </h5></td>
  </tr>
  <tr>
    <td><h5>Email: {{user.email}}</h5></td>
    <td><h5>Phone Number: {{user.phoneno}}</h5></td>
  </tr>
  </table> 
  <hr>
  <h4>My Recipes</h4>
  <ul *ngFor="let recipies of recipe;let i = index" [attr.data-index]="i" class="add">
      <li>
       <button [routerLink]="['/profile',recipies.recipename]" class="add">
       <div id="menu">
       <img src="{{ recipies.imageUrl }}" id="menupic" alt="">
       <h1> {{ recipies.recipename }}</h1>
      <h4>likes:{{ recipies.likes  }}</h4>
      <h4>Status: approved</h4>
      </div>
       </button>
     </li>
     </ul>
   
</div>


